<h1>Hello Angular World!</h1>


<button (click)="toggle = !toggle">Toggle</button>
<button (click)="toggle = 111">set default</button>


<div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, illum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, illum.</p>
  <p *ngSwitchDefault>default</p>


  <ul>
    <li *ngFor="let number of arr; let idx = index">{{idx}}<strong>{{number}}</strong></li>
  </ul>

  <ul style="list-style: none">
    <li *ngFor="let post of objs">
      <p>{{post.title}} <b>{{post.author}}</b></p>
      <ul>
        <li *ngFor="let comment of post.comments">
          <p><small>{{comment.name}}:</small></p>
          <p>{{comment.text}}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>

<p>{{now | date | lowercase}}</p>









